version: "3.8"
services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - 15672:15672
      - 5672:5672
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin

  customer:
    build: ./customer
    container_name: customer
    ports:
      - 8080:8080
    depends_on:
      - rabbitmq

  supplier:
    build: ./supplier
    container_name: supplier
    ports:
      - 8880:8080
    depends_on:
      - rabbitmq